body {
    font-family: "Dynapuff";
    font-weight: 700;
    background-color: #F97DAD;
    color: #333;
    line-height: 1.5em;
    padding-top: 50px;
}

h1 {
    text-align: center;
    background-color: rgb(255, 229, 244);
    margin: 0;
    padding: 20px;
}

.flip {
    text-align: center;
}

div {
    padding: 10px;
}

div#game {
    padding: 0;
}

#quitbtn {
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 80%;
    background-color: rgb(255, 229, 244);
}

#quitbtn button {
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
}

#flip {
    font-size: 20px;
    padding: 15px 40px;
}

#gamecontrol,
#score {
    background-color: rgb(255, 229, 244);
    margin: 0;
    padding: 0;
}

#gamecontrol,
img {
    text-align: center;
    padding-top: 20px;
}

#game img {
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 51%;
    transform: translateX(-50%);
    padding: 20px;
}

#game p {
    font-family: "Dynapuff";
    color: #bb4480;
    font-size: 20px;
    text-align: center;
    max-width: 200px;
    margin-top: 45px;
    position: absolute;
    top: 270px;
    left: 51%;
    transform: translateX(-50%);
    padding: 20px;
}

#actions {
    background-color: rgb(255, 229, 244);
    padding: 0;
}

.coin-container {
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.coin-image {
    position: absolute;
    top: -50px;
    left: 51%;
    transform: translateX(-50%);
    padding: 20px;
}

.piggy-image,
.piggy-image2 {
    padding-top: 100px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: #fcaac9;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    cursor: pointer;
}

.buttons-container {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.buttons-container button {
    display: inline-block;
    margin-right: 20px;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
}

.buttons-container #pass {
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
}

p {
    margin: 0;
}

.eachscore {
    font-family: "Bebas Neue";
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    z-index: 999;
}

#rights,
#lefts {
    padding-bottom: 10px;
    padding-top: 20px;
}

.winning {
    text-align: center;
    position: absolute;
    top: 500px;
    left: 51%;
    transform: translateX(-50%);
    padding: 20px;
}

#instructions {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

#instcont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px;
    height: auto;
    background-color: #fcaac9;
    padding: 40px;
    z-index: 1000;
    transition: opacity 0.3s ease;
    text-align: center;
    border-radius: 50px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#instructions h2 {
    margin: 0 0 20px;
    text-align: center;
}

#instructions p,
#instructions ol,
#instructions li {
    margin: 0 0 10px;
    text-align: left;
    font-family: Comfortaa;
}

#instructions ol {
    padding-left: 20px;
}

#instructions .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

#instructions .closebtn:hover {
    color: #000;
}

#instbtn {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    justify-content: right;
    margin-bottom: 0;
}

#instbtn:hover {
    background-color: #f97dad;
}

.introverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.introcont img {
    max-width: 120vw;
    max-height: 120vh;
}

.introcont {
    text-align: center;
    color: white;
}

.introverlay.hide {
    opacity: 0;
}

#outroverlay {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
}

#outrocont {
    color: black;
    text-align: center;
    z-index: 1200;
    position: relative;
}

#winnerText {
    font-size: 30px;
    margin-bottom: 20px;
    z-index: 1300;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fab03e;
}

#outrocont button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer;
    z-index: 1200;
}

#outrocont img {
    max-width: 120vw;
    max-height: 120vh;
}

input {
    color: #f97dad;
    display: inline-block;
    width: 130px;
    border-radius: 30px;
    border: solid white;
    background-color: white;
    text-align: center;
    margin-left: 5px;
}

input[type=text]:focus {
    border-radius: 30px;
    border: solid #f97dad;
}

input:hover {
    border-radius: 30px;
    border: solid #f97dad;
}
