
h1{
    font-family:Dynapuff;
    font-size: 30px;
    color:rgb(160, 122, 247); 
    letter-spacing: 4px;
    position: relative;
    width: 100%;
    margin: 100px auto 50px;
    top: 20px;  
    border-right: 2px solid black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    
}
.typewriter{
    animation: typewriter 4s steps(30) 1s 1 normal both,cursor 500ms steps(30) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes cursor{
    from{border-right-color: black;}
    to{border-right-color: transparent;}
}

h2{
    font-family: Comfortaa;
    font-weight: 700px;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center;

}

body{
    margin-left: 230px;
    margin-right: 230px;
}


p{
    font-family:Tajawal ; 
    color: rgb(40, 40, 40); 
    font-size: 20px;
    font-family: 300px;
    max-width:35em; 
    margin: 20px auto;
    text-indent: 40px;

}

#topdeco{
    font-family: Dynapuff;
    font-weight: 500;
    color:rgb(182, 158, 238); 
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#bottomdeco{
    color:rgb(182, 158, 238); 
    text-align: center;
    font-size: 25px;
}

p a{
    text-decoration: none;
    color:rgb(182, 158, 238);
}

hr{
    border-top: 3px solid rgb(40, 40, 40); 
    border-radius: 5px;
    margin-top: 30px;
}

.time{
    font-family: Comfortaa;
    font-weight: 700;
    color:rgb(182, 158, 238); 
    margin-bottom: 50px;
    margin-top: 40px;
    text-align: center;
}


#contactme{
    font-family:Tajawal;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer p{
    margin-bottom: 5px;
}
footer a{
    color:rgb(182, 158, 238); 
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

span{
    color:rgb(182, 158, 238); 

}

img {
    display: block;
    margin: 0 auto;
}

figcaption{
    font-family: Comfortaa;
    text-align: center;
    color: rgb(151, 151, 151);
    margin-top: 15px;
    font-size: 12px;
}